# Tugas Besar 2 - Interactive Data Visualization


> Imaduddin M. Fadhil - 1301184115


> IF-41-GAB03

# Import Library

In [ ]:
import pandas as pd

# Bokeh libraries
from bokeh.plotting import figure, show
from bokeh.io import output_file
from bokeh.models import ColumnDataSource, HoverTool, CustomJS, Select
from bokeh.layouts import row, column

# Import Data

import data kedalam google colab di folder '/content/'

In [ ]:
#Read CSV File
df = pd.read_csv('/content/stock_market.csv')

# Data Exploration

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1474 entries, 0 to 1473
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             1474 non-null   object
 1   Adj Close        1474 non-null   float64
 2   Volume           1474 non-null   float64
 3   Day_Perc_Change  1474 non-null   float64
 4   Name             1474 non-null   object
dtypes: float64(3), object(2)
memory usage: 57.7+ KB

In [ ]:
df.head()

         Date     Adj Close        Volume  Day_Perc_Change       Name
0  2018-10-22  26153.150391  2.222812e+09         2.315014  HANG SENG
1  2018-10-23  25346.550781  1.772912e+09        -3.084139  HANG SENG
2  2018-10-24  25249.779297  1.962754e+09        -0.381794  HANG SENG
3  2018-10-25  24994.460938  2.288634e+09        -1.011171  HANG SENG
4  2018-10-26  24717.630859  1.688396e+09        -1.107566  HANG SENG

Change Date Dtype to datetime

In [ ]:
df['Date'] = pd.to_datetime(df['Date'], infer_datetime_format=True)

# Data Visualization

**Level 3**

---

Aspek Interaktif yang diterapkan : 


---



memungkinkan user memilih parameter yang akan ditampilkan:
1.   Adj Close
2.   Volume
3.   Day_Perc_Change


---



memungkinkan user untuk menyembunyikan data untuk indeks pasar saham tertentu dengan
mengklik legend dari indeks tersebut.

In [ ]:
# Output to file
output_file('Tugas Besar 2.html',
            title='Adj Close for each Stocks')

# Create a ColumnsDataSource for each stock
nikkei_cds = ColumnDataSource(df[df["Name"] == "NIKKEI"])
hangseng_cds = ColumnDataSource(df[df["Name"] == "HANG SENG"])
nasdaq_cds = ColumnDataSource(df[df["Name"] == "NASDAQ"])

# Configure Hover Tooltips
tooltips_adjclose = [("Nama Saham", "@Name"),
                   ("Adj Close", "@Adj Close")]
tooltips_volume = [("Nama Saham", "@Name"),
                ("volume", "@Volume")]
tooltips_dayperc = [("Nama Saham", "@Name"),
                  ("Day Perc Change", "@Day_Perc_Change")]

# Create and configure the figure
fig = figure(plot_height=600, plot_width=800,
             x_axis_type='datetime',
             x_axis_label='Date',
             y_axis_label='Adj Close',
             title='Adj Close for each Stocks',
             toolbar_location='below')

fig.line(x='Date', y='Adj Close', source=nikkei_cds, legend_label='Nikkei', color='#D50000')
fig.line(x='Date', y='Adj Close', source=hangseng_cds, legend_label='Hang Seng', color='#EA80FC')
fig.line(x='Date', y='Adj Close', source=nasdaq_cds, legend_label='Nasdaq', color='#90CAF9')

fig.legend.location = "top_left"
fig.legend.click_policy="hide"

fig.add_tools(HoverTool(tooltips=tooltips_adjclose))

In [ ]:
# Create a callback for selecting parameter
options = [tooltips_adjclose, tooltips_volume, tooltips_dayperc]

callback_param = CustomJS(args=dict(hover=fig.hover, options=options),
                    code="""
                         if (cb_obj.value=='Normal') {
                            hover[0].tooltips=options[0]
                         } else if (cb_obj.value=='Adj Close') {
                            hover[0].tooltips=options[0]
                         } else if (cb_obj.value=='Volume') {
                            hover[0].tooltips=options[1]
                         } else {
                            hover[0].tooltips=options[2]
                         }
                         """)

# Dropdown menu for selecting parameter
param_select = Select(options=['Adj Close', 'Volume', 'Day_Perc_Change'], title='Select Parameter')
param_select.js_on_change("value", callback_param)

# Output

In [ ]:
show(column(param_select, fig))